<body class="flex h-screen  bg-[#f3f4f6] ">
  <div class="w-full h-full md:max-w-[85%] lg:max-w-[85%] max-w-[92%] mx-auto flex flex-col gap-10 py-10">

    <!-- Header Section -->
    <div class="flex flex-col items-start w-full gap-4 h-fit">
      <h1 class="xl:text-6xl lg:text-5xl text-4xl font-extrabold text-[#212529] tracking-tight flex items-center space-x-4">
        <i class="fas fa-tasks text-[#f5a425]"></i>
        <span>Your Tasks</span>
      </h1>
      <p class="text-lg text-gray-500">Manage all your assignments and quizzes in one place.</p>
    </div>

    <!-- Filter Bar -->
    <div class="flex justify-start space-x-4">
      <button (click)="setFilterType('all')"
        [ngClass]="{'bg-gradient-to-r from-[#f5a425] to-[#f0a500] text-white': filterType === 'all', 'bg-white text-[#212529] border border-[#e5e7eb]': filterType !== 'all'}"
        class="px-4 py-2 transition-all rounded-full shadow-lg hover:shadow-xl">
        <i class="mr-2 fas fa-list-ul"></i> All
      </button>
      <button (click)="setFilterType('assignment')"
        [ngClass]="{'bg-gradient-to-r from-[#f5a425] to-[#f0a500] text-white': filterType === 'assignment', 'bg-white text-[#212529] border border-[#e5e7eb]': filterType !== 'assignment'}"
        class="px-4 py-2 transition-all rounded-full shadow-lg hover:shadow-xl">
        <i class="mr-2 fas fa-book"></i> Assignments
      </button>
      <button (click)="setFilterType('quiz')"
        [ngClass]="{'bg-gradient-to-r from-[#f5a425] to-[#f0a500] text-white': filterType === 'quiz', 'bg-white text-[#212529] border border-[#e5e7eb]': filterType !== 'quiz'}"
        class="px-4 py-2 transition-all rounded-full shadow-lg hover:shadow-xl">
        <i class="mr-2 fas fa-question-circle"></i> Quizzes
      </button>
    </div>

    <!-- Task Cards Section -->
    <div class="grid h-full grid-cols-1 gap-12 sm:grid-cols-2 lg:grid-cols-3">

      <!-- No tasks available message -->
      <div class="flex flex-col items-center justify-center w-full h-full fade-in" *ngIf="filteredTasks().length <= 0">
        <img class="object-contain w-40 h-40 mb-6" [src]="'assets/paperworks.png'" alt="No Tasks">
        <div class="text-2xl font-semibold text-gray-500">No tasks assigned at the moment.</div>
      </div>

      <!-- Task Cards -->
      <ng-container *ngFor="let task of filteredTasks()" >
        <div *ngIf="task.settings != 'popup_quiz'" class="w-full fade-in"
       
        (click)="task.type == 'assignment' ? redirect(task.id) : attemptQuiz(task)"
        >


          <div class="p-8 rounded-xl shadow-2xl bg-white h-[400px] flex flex-col transition-transform duration-300 hover:scale-[1.03] hover:shadow-3xl border-t-4"
            [ngStyle]="{
              'border-top-color': task.done ? '#051f52' : '#f5a425',
              'color': '#212529',
            }">

            <!-- Card Header -->
            <div class="mb-6">
              <div class="flex items-center justify-between text-2xl font-semibold">
                <span             
                [ngClass]="{ 'text-[#051f52]': task.done,
                  'text-red-500': !task.done && checkOverdue(task.deadline)
                }"
                
                >
                  <i class="{{task.type == 'assignment' ? 'fas fa-book-open' : 'fas fa-question'}} mr-2"
                  [ngClass]="{ '!text-[#051f52]': task.done,
                    'text-red-500': !task.done && checkOverdue(task.deadline)
                  }"
                  ></i>
                  {{switchTag(task.type)}}: {{task.title}}
                </span>
                <ng-container *ngIf="task.type == 'quiz'; else markdone">
                  <div *ngIf="task.done"
                    class="flex items-center justify-center px-5 py-2 rounded-lg text-sm font-bold bg-[#f5a425] text-white
                    "
                    [ngClass]="{ 'bg-[#051f52]': task.done}"

                    >
                    {{getQuizPoint(task.id)}}
                  </div>
                </ng-container>
                <ng-template #markdone>
                  <div *ngIf="task.done"
                    class="flex items-center justify-center px-5 py-2 rounded-lg text-sm font-bold bg-[#f5a425] text-white"
                    >
                    Done
                  </div>
                </ng-template>
              </div>
            </div>

            <!-- Card Body -->
            <div class="mb-6 text-base text-gray-600 line-clamp-3"
            [ngClass]="{ 'text-[#051f52]': task.done,
            'text-red-500': !task.done && checkOverdue(task.deadline)
             }"
            >
              {{ truncateDescription(task.details, 20) }}
            </div>

            <!-- Card Footer -->
            <div class="flex flex-col items-center mt-auto">
              <div [ngClass]="{'text-green-500': task.done && task.type == 'quiz', 'text-red-500': !task.done && checkOverdue(task.deadline)}"
                class="mb-4 font-semibold">
                Due Date: {{parseDate(task.deadline)}}
              </div>
              <!-- <button (click)="task.type == 'assignment' ? redirect(task.id) : attemptQuiz(task)"
                class="w-full px-8 py-3 text-white transition-all rounded-full hover:opacity-90 focus:ring-2 focus:ring-offset-2"
                [ngStyle]="{
                  
                  'background': task.done && task.type == 'quiz' ? 'linear-gradient(to right, #051f52, #051f52)' : 'linear-gradient(to right, #f5a425, #f0a500)',
                  
                 }">
                {{task.type == 'assignment' ? 'View' : task.done ? 'Done' : 'Attempt'}}
              </button> -->
           
              <button 
              (click)="task.type === 'assignment' ? redirect(task.id) : attemptQuiz(task)"
              class="w-full px-8 py-3 text-white transition-all rounded-full hover:opacity-90 focus:ring-2 focus:ring-offset-2"
              [ngClass]="{
                'bg-red-500': !task.done && checkOverdue(task.deadline)
              }"
              [ngStyle]="{
                'background': !task.done && checkOverdue(task.deadline)
                  ? ''
                  : task.type === 'quiz' && task.done
                  ? 'linear-gradient(to right, #051f52, #051f52)'
                  : 'linear-gradient(to right, #f5a425, #f0a500)'
              }">
              {{
                !task.done && checkOverdue(task.deadline)
                  ? 'Not Available'
                  : task.type === 'assignment'
                  ? 'View'
                  : task.done
                  ? 'Done'
                  : 'Attempt'
              }}
            </button>
            

            </div>

          </div>
        </div>
      </ng-container>
    </div>
  </div>
</body>
