@media screen and (max-width: 480px) {
  
    .instruction
    {
      font-size: 24px;
    }
    .description {
      font-size: 18px;
    }
  
  }
  .selected {
    background-color: #e5e7eb; /* Change this color to your desired highlight color */
    color: #000; /* Change this color to your desired text color */
  }
  

  .custom-modal .modal-dialog {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh; /* Ensures the modal centers vertically */
  }
  
  .custom-modal .modal-content {
    margin: 0; /* Remove default margins */
  }
  
  .custom-modal .modal {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  