<!-- 'opacity-100':loading, 'opacity-0':!loading, -->
<div class="loader-overlay flex flex-col transition-all"  [ngClass]="{
'opacity-100':loading, 'opacity-0':!loading,
  'translate-y-0':loading, 'translate-y-[-30px]':!loading,
  'pointer-events-auto':loading, 'pointer-events-none': !loading
  }">
  <div class="relative qlab flex flex-col justify-center items-center w-full ">
    <div class="flex flex-col justify-center">
      <img  src="{{environment.appLogo}}" alt="QuanLab" class="w-full max-w-72 animate-bounce  p-2">
      <!-- <i class="pi pi-spinner  pi-spin"></i> -->
    </div>
    <div *ngIf="getLoaderMessage()" class="text-2xl md:text-3xl font-thin text-white animate-fadein animate-alternate-reverse animate-duration-1000 animate-infinite"> {{ getLoaderMessage() }}</div>
    <!-- <img src="assets/dashboard.png" alt="QuanLab" class="right-24 absolute w-full p-2">  -->
    <!-- <img src="assets/login/logonew.png" alt="QuanLab" class="z-10 w-full    p-2"> -->
  </div>

</div>
