<div class="lg:mx-8 md:mx-8 mx-4 mt-4 text-2xl font-semibold text-primary-900 instruction poppins">
    Browse
    <a
      class="text-2xl font-semibold text-transparent poppins-b gradient-color bg-clip-text"
    >
      {{pages[currentPage].header}}
    </a>
  </div>
  <div class="md:px-8 lg:px-8 lg:ml-6 md:ml-6 px-4 ml-4 my-3 text-xl font-normal text-primary-700 description line-clamp-3">
    {{pages[currentPage].description}}
  </div>
  
  
  <div class="flex items-center justify-between mx-6 my-4 lg:mx-8">
    <div class="relative inline-block text-left dropdown">
      @if(currentPage == 'Flashcards'){
        <button class="w-auto px-6 py-2 text-sm font-semibold text-white  bg-primary-600 border border-primary-900 shadow rounded-xl focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" (click)="closeFlashCards()">
         <i class="pi pi-chevron-left mr-2"></i> Back
        </button>
      }@else{
        <button class="w-auto px-4 py-2 text-sm font-semibold text-white  bg-primary-600 border border-primary-900 shadow rounded-xl focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" (click)="showDropdown=!showDropdown">
          Difficulty: <span class="text-sm text-primary-800">{{ selectedDifficulty == null ? 'All' : selectedDifficulty }}</span>
        </button>
      }
      <div *ngIf="showDropdown" class="absolute left-0 z-50 mt-2 w-44 origin-top-right bg-primary-50 rounded-md shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="sort-options">
        <div class="py-1" role="none">
          <a class="block px-4 py-2 text-sm text-primary-700 cursor-pointer hover:bg-primary-100"
             role="menuitem"
             [ngClass]="{'bg-primary-600': selectedDifficulty === null}"
             (click)="selectDifficulty(null)">All</a>
          <a class="block px-4 py-2 text-sm text-primary-700 cursor-pointer hover:bg-primary-100"
             role="menuitem"
             [ngClass]="{'bg-primary-600': selectedDifficulty === 'Beginner'}"
             (click)="selectDifficulty('Beginner')">Beginner</a>
          <a class="block px-4 py-2 text-sm text-primary-700 cursor-pointer hover:bg-primary-100"
             role="menuitem"
             [ngClass]="{'bg-primary-600': selectedDifficulty === 'Intermediate'}"
             (click)="selectDifficulty('Intermediate')">Intermediate</a>
          <a class="block px-4 py-2 text-sm text-primary-700 cursor-pointer hover:bg-primary-100"
             role="menuitem"
             [ngClass]="{'bg-primary-600': selectedDifficulty === 'Advanced'}"
             (click)="selectDifficulty('Advanced')">Advanced</a>
        </div>
      </div>
    </div>
  </div>
  
  <div class=" rounded-xl">
    @if(currentPage == 'Browse'){
      @if(filteredCourses().length>0){
        <div class="grid grid-cols-1 grid-rows-none lg:pt-4 md:pt-4 pt-2 pb-10 mx-2.5 lg:mx-8 gap-y-10 lg:gap-4 lg:grid-cols-3 h-1/5" *ngIf="courses != null">
          <ng-container *ngFor="let course of filteredCourses()">
            <app-card
            *ngIf="course.enrolled"
            (click)="openFlashCards(course)"
            [enrolled]="course.enrolled"
            [difficulty]="course.complexity"
            [picture]="course.image ? getUrl(course.image) : 'https://img.freepik.com/free-vector/online-tutorials-concept_52683-37480.jpg'"
            [number]="course.lessoncount + 'x Lessons'"
            [lecture]="course.course"
            [profilepic]="course.profile ? getUrl(course.profile) : 'https://thumbs.dreamstime.com/b/default-profile-picture-avatar-photo-placeholder-vector-illustration-default-profile-picture-avatar-photo-placeholder-vector-189495158.jpg'"
            [name]="course.firstname + ' ' + course.lastname"
            [job]="course.job ?? 'N/A'"
            [description]="course.details"
            [target_audience]="course.target_audience"
          ></app-card>
          </ng-container>
        </div>
      }@else {
        <div class="w-full h-full flex-col gap-2 flex justify-center items-center min-h-72">
          <div class="rounded-3xl px-6 py-4 border-primary-600 border-2 border-solid text-center select-none hover:scale-105 group transition-all cursor-pointer" routerLink="/student/courses">
            <p class="text-xl font-thin text-primary-900">Currently, you are not enrolled to any courses in this category!</p>
            <p class="text-sm font-thin text-primary-900 group-hover:text-primary-500 animate-fadein animate-alternate-reverse group-hover:animate-infinite animate-duration-1000 transition-all" >Go to courses and enroll to one > </p>
          </div>
        </div>
      }  
    }@else{
      <div class="w-full h-full flex-col gap-4 flex justify-center items-center px-2 md:px-0 overflow-x-clip">
        @for(card of flashcards; track card;let i = $index){
          @if (i == currentFlashcardIndex){
            <div 
            class="w-full h-full flex gap-4 justify-center {{slideAnimation}} animate-duration-1000 animate-ease-in-out">
            <div 
            (click)="previousFlashcard()"
            class="h-[28rem] border-r-2 border-solid flex-1 rounded-r-3xl border-primary-600 hover:mr-4 group hover:bg-primary-800/10 hover:border-primary-800 hover:scale-105 cursor-pointer hover:border-t-2 hover:border-b-2 transition-all animate-scalein animate-duration-1000 animate-ease-in-out delay-200  flex items-center justify-center">
              <i class="pi pi-chevron-left transition-all  font-medium text-3xl hidden group-hover:block opacity-30"></i>
            </div>
              @if(card.show){
                <div 
                (click)="flipCard()"
                class="shadow-lg flex flex-col items-center justify-center h-[28rem] rounded-3xl px-10 py-4 
                hover:mx-4 animate-flipright animate-duration-700
                bg-primary-800/15 animate-ease-in-out
                hover:border-primary-950 border-primary-600 border-2   border-solid text-center select-none hover:scale-105  w-full md:w-[60%] transition-all cursor-pointer group" >
                <p class="text-2xl font-bold text-primary-950">{{card.back }}</p>
              </div>
              }@else{
                <div 
                (click)="flipCard()"
                class="shadow-lg flex flex-col items-center justify-center h-[28rem] rounded-3xl px-10 py-4 
                hover:mx-4 animate-flipright animate-duration-700  animate-ease-in-out
                hover:bg-primary-800/5
                hover:border-primary-800 border-primary-600 border-2   border-solid text-center select-none hover:scale-105  w-full md:w-[60%] transition-all cursor-pointer group" >
                <p class="text-2xl font-medium text-primary-900">{{card.front}}</p>
              </div>
              }
              <div
              (click)="nextFlashcard()"
              class="h-[28rem]  border-l-2 border-solid flex-1 rounded-l-3xl border-primary-600 group hover:ml-4 hover:bg-primary-800/10 hover:border-primary-800 hover:scale-105 cursor-pointer hover:border-t-2 hover:border-b-2 transition-all animate-scalein animate-duration-1000 animate-ease-in-out delay-200 flex items-center justify-center">
                <i class="pi pi-chevron-right transition-all  font-medium text-3xl hidden group-hover:block opacity-30 "></i>
              </div>
            </div>
          }
        }
        <div class="select-none px-3 rounded-2xl text-lg py-2 items-center hover:scale-105 transition-all text-white bg-primary-600 shadow-sm flex gap-3">
            <button (click)="previousFlashcard()" class="rounded-full group hover:mx-2 hover:text-lg transition-all">
              <i class="pi pi-chevron-left  group-hover:text-primary-800 font-medium"></i>
            </button>
            <span class="font-medium "> {{currentFlashcardIndex + 1}} </span>
            <span> of </span>
            <span class="font-medium"> {{flashcards.length}} </span>
            <button (click)="nextFlashcard()" class="rounded-full group hover:mx-2 hover:text-lg transition-all">
              <i class="pi pi-chevron-right group-hover:text-primary-800 font-medium"></i>
            </button>
        </div>
      </div>   
    }
  </div>
  