<button (click)="openModal()"
  class="fixed z-50 text-white rounded-full cursor-pointer bottom-10 right-10 w-14 h-14 gradient-color animate-bounce">
  <i class="fas fa-comment"></i>
</button>

<!-- Modal -->
<div *ngIf="showModal" [@fadeInOut] class="modal-overlayzz">
  <div class="flex flex-col w-4/5 modal-contentzz h-3/4 lg:w-1/4">

    <header class="flex items-center justify-between px-4 py-3 text-gray-700 lg:py-4">

      <h1 class="flex-1 text-xl font-semibold text-center">MESSAGES</h1>
      <button (click)="closeModal()" class="text-[var(--tertiary-color)] focus:outline-none">
        <i class="text-transparent fas fa-close gradient-color bg-clip-text "></i>
      </button>
    </header>


    <div class="linya"> </div>

    <main class="flex-1 p-4 overflow-y-scroll">

      <div class="flex flex-col ">

        <label for="person_search">Search {{interests.length? 'Interest':'People'}}: </label>
        <div *ngIf="interests.length" class="flex-grow">
          <p class="leading-9">
            <span (click)="deleteInterst(i)" class="select-none cursor-pointer px-2 py-1 rounded-md ml-2"
              *ngFor="let interest of interests; let i = index">
              {{interest}}
            </span>
          </p>
        </div>
        <input [disabled]="listen" [(ngModel)]="search" (keyup)="searchPeople($event)" id="person_search" type="text"
          placeholder="Type someone..."
          class="mb-2 px-3 py-2 rounded-md outline-none border-solid border-b-2 focus-within:!border-[var(--tertiary-color)] transition-all border-[var(--tertiary-color)]">

        <!-- ken ini su mga pandok kang teacher -->
        <ng-container *ngIf="!searching; else searchingPeople ">
          <ng-container *ngIf="people.length && !interests.length; else showConvos">
            <button *ngFor="let person of people" (click)="openChatModal(person)"
              class="flex mb-4 items-center bg-[var(--primary-color)] hover:!bg-[var(--secondary-color)] rounded-2xl p-2 ">
              <img src="{{getUrl(person.profile)}}" alt="Profile Picture" class="w-10 h-10 mt-1 ml-2 mr-4 rounded-full">
              <div class="flex-grow">
                <div class="flex justify-between mx-1 overflow-x-auto ">
                  <div>
                    <p class="font-medium text-[var(--tertiary-color)] text-md">{{person.firstname + ' '+
                      person.lastname}}</p>
                  </div>

                </div>

                <div class="w-full px-1 font-light text-left text-white text-md">{{person.lastseen == 'Just now' ?
                  'Online' : 'Last seen ' + person.lastseen}}</div>
              </div>
            </button>
          </ng-container>
          <ng-template #showConvos>
            <ng-container *ngIf="interests.length; else justConvos">
              <ng-container *ngIf="!listen; else listening">
                <button (click)="searchByInterest()"
                  class="flex mb-4 justify-center text-white font-bold items-center bg-[var(--primary-color)] hover:!bg-[var(--secondary-color)] rounded-2xl p-2">
                  Start Conversation
                </button>
              </ng-container>
              <ng-template #listening>
                <div class="flex flex-col items-center justify-center w-full h-32 rounded-md mt-">
                  <span>Searching for people with same interest ... </span>
                </div>
                <button (click)="cancelListen()"
                  class="flex mb-4 justify-center text-white font-bold items-center bg-[var(--primary-color)] hover:!bg-[var(--secondary-color)] rounded-2xl p-2">
                  Cancel
                </button>
              </ng-template>
            </ng-container>
            <ng-template #justConvos>
              <ng-container *ngIf="getConvos().length; else empty">
                <button *ngFor="let person of getConvos()" (click)="openChatModal(person)" [ngClass]="{'opacity-85':person.lastmessageref.status == 'seen',
              '!bg-slate-600':person.lastmessageref.status == 'seen' || person.lastmessageref.senderid == user.id,
              'hover:!bg-slate-700':person.lastmessageref.status == 'seen' || person.lastmessageref.senderid == user.id,
              'hover:!bg-[var(--tertiary-color)] ':person.lastmessageref.status != 'seen' && person.lastmessageref.senderid != user.id

              }" class="flex items-center p-2 mb-2 bg-[var(--tertiary-color)] min-h-16 rounded-2xl">
                  <img src="{{getUrl(person.profile)}}" alt="Profile Picture"
                    class="w-10 h-10 mt-1 ml-2 mr-4 rounded-full">
                  <div class="flex-grow">
                    <div class="flex justify-between mx-1 overflow-x-auto ">
                      <div>
                        <p [ngClass]="{'font-bold':person.lastmessageref.status != 'seen'}"
                          class="font-medium text-white text-md">{{person.firstname + ' '+ person.lastname}}</p>
                      </div>

                    </div>

                    <div class="w-full px-1 font-light text-left text-white text-md">{{person.lastmessage}}</div>
                  </div>
                </button>
              </ng-container>
              <ng-template #empty>
                <div
                  class="flex flex-col items-center justify-center w-full h-32 mt-2 border-2 border-dashed rounded-md border-slate-300">
                  <span>No Inbox</span>
                  <span>Start a conversation!</span>
                </div>
              </ng-template>
            </ng-template>
          </ng-template>

        </ng-container>
        <ng-template #searchingPeople>
          <div class="flex flex-col items-center justify-center w-full h-32 rounded-md mt-">
            <span>Searching for people ... </span>
          </div>
        </ng-template>
        <!-- end ini ken kang "ken ini su mga pandok kang teacher" -->



      </div>
    </main>



    <!-- Footer -->

  </div>

</div>



<div *ngIf="checkOpenModal()" [@fadeInOut] class="modal-overlayzz">


  <div class="flex flex-col w-4/5 modal-contentzz h-3/4 lg:w-1/4">

    <header class="flex items-center justify-between px-4 py-3 text-gray-700 lg:py-4">
      <button (click)="closeChatModal()" class="text-[var(--tertiary-color)] focus:outline-none">
        <i class="text-transparent fas fa-arrow-left gradient-color bg-clip-text"></i>
      </button>

      <h1 class="flex-1 text-xl font-semibold text-center">{{chat.firstname +' '+ chat.lastname}}</h1>
      <button (click)="closeModals()" class="text-[var(--tertiary-color)] focus:outline-none">
        <i class="text-transparent fas fa-close gradient-color bg-clip-text "></i>
      </button>
    </header>


    <div class="linya"> </div>


    <main class="flex-1 p-4 overflow-y-scroll" #scrollMessages>

      <div class="flex flex-col ">
        <div *ngIf="chat?.anonymous" class="flex justify-center py-2 text-gray-700">
          {{'Both of you like'}}<b *ngFor="let interest of chat.interests">&nbsp;&nbsp;{{interest}}</b>
        </div>
        <ng-container *ngFor="let message of getMessages()">
          <!-- user ini ken-->
          <div *ngIf="user.id == message.senderid; else notMe"
            class="self-end p-2 mb-2 text-right bg-[var(--tertiary-color)] rounded-xl max-w-64">
            <h1 class="text-white">{{message.message}}</h1>
          </div>
          <!-- ken sa teacher ini-->
          <ng-template #notMe>
            <div class="self-start p-2 pr-4 mb-2 text-left bg-gray-500 rounded-xl max-w-64">
              <h1 class="text-white">{{message.message}}</h1>
            </div>
          </ng-template>
        </ng-container>


      </div>
    </main>


    <footer>
      <div class="bg-transparent ">
        <div class="flex items-center mx-1 my-3">
          <div class="relative flex items-center w-full mx-3 shadow-boxz rounded-xl">
            <input (keyup.enter)="chat.anonymous? sendMessageAnonymous() : sendMessage()" #messageInput type="text"
              [(ngModel)]="message" placeholder="Type your message..."
              class="flex-1 px-3 py-2 font-normal text-black border border-teal-400 rounded-lg shadow-boxz focus:outline-none focus:ring-black focus:border-gray-600">
            <button (click)="chat.anonymous? sendMessageAnonymous() : sendMessage()"
              class="absolute pr-3 transform -translate-y-1/2 cursor-pointer right-2 top-1/2">
              <i class="text-xl text-transparent fa-solid fa-paper-plane gradient-color bg-clip-text"></i>
            </button>
          </div>




        </div>
      </div>
    </footer>
  </div>


</div>




<p class=" lg:mx-4 md:mx-4 lg:mt-4 md:mt-4 mt-2.5 mx-2.5 lg:mb-4 md:mb-4 mb-2 text-lg text-gray-500 poppins lg:text-2xl lg:font-normal">
  Courses Progress
</p>
<div class="flex lg:mx-4 md:mx-4 lg:mt-4 md:mt-4 mt-2.5 mx-2.5 text-white shadow-boxz gradient-color animate-wave h-2/6 lg:mb-14 rounded-xl">
  <div
    class="flex-1 lg:ml-10 md:ml-10 ml-5 overflow-y-auto custom-scrollbar mt-7 mb-7 scrollbar-thin scrollbar-thumb-teal-200 scrollbar-track-teal-100 scrollbar-thumb-rounded-full scrollbar-track-rounded-full">
    <div *ngFor="let course of courses | keyvalue" class="mb-2 text-sm">
      <p class="poppins ">{{ course.value.course }}</p>
      <div class="flex h-2 mt-1 rounded-full">
        <div class="h-full bg-white border border-teal-200 border-solid rounded-full shadow-md"
          [ngStyle]="{ width: course.value.progress + '%' }"></div>
        <div class="flex items-center ml-2 text-sm">
          {{ course.value.progress }}%
        </div>
      </div>
    </div>
  </div>

  <div class="flex-1 cut-diagonal">
    <img src="assets/dsbor.png" alt="dp" class="object-cover w-full h-full" />
  </div>
</div>

<div class="lg:mx-4 md:mx-4 mx-2.5 mb-20 mt-6 md:mt-0 lg:mt-0 ">
  <div class="flex contianerflex gap-x-4">
    <!-- start of div -->
    <div class="flex-1">
      <!-- enrolled -->
      <div>
        <p class="lg:mb-4 md:mb-4 mb-2.5 text-lg text-gray-500 poppins lg:text-2xl lg:font-normal">
          Courses Enrolled
        </p>
        <div class="w-full mx-auto grid grid-cols-1 gap-6 md:grid-cols-2">
          <div 
            (click)="openCourse(course.value.id)"
            class="flex items-center bg-white cursor-pointer rounded-xl shadow-md transition-transform transform  duration-300 hover:scale-105 hover:shadow-xl"
            *ngFor="let course of courses | keyvalue">
            <img class="object-cover w-20 h-16 lg:m-4 m-3 rounded-lg lg:w-32 lg:h-32" src="{{getUrl(course.value.image)}}" alt="Course Image">
            <div class="flex flex-col w-full pr-4 overflow-hidden">
              <h2 class="flex items-center font-bold text-lg text-gray-800">
                <span class="truncate uppercase">{{ course.value.course }}</span>
              </h2>
              <div class="flex flex-col mt-2">
                <p class="text-sm text-gray-500">
                  <span>{{ course.value.firstname + " " + course.value.lastname }}</span>
                </p>
                <p class="text-sm text-gray-600">
                  <span class="capitalize">{{ course.value.class}}</span>
                </p>
              </div>
            </div>
          </div>
        </div>
        

        <!-- end -->
      </div>
      <!-- end of start -->
    </div>
    <!-- end of div -->

    <div class="flex-1 hidden" *ngIf="getNotifications().length">
      <div>
        <p class="mt-10 mb-4 text-xl text-gray-500 poppins lg:text-2xl lg:font-normal lg:mt-0">
          Announcements
        </p>

        <ng-container *ngFor="let notification of getNotifications()">
          <div *ngIf="isBroadcastAlert(notification.title)"
            class="relative flex items-center mt-3 mr-10 bg-transparent rounded-xl shadow-boxz boxes">
            <div class="w-20 mx-4 my-4 rounded lg:h-20 min-h-16 bg-slate-600"></div>

            <div class="w-full pt-1 pr-1 my-2 min-h-32">
              <div [innerHTML]="notification.message"
                class="flex-col justify-center pb-2 font-bold lg:text-lg min-h-14"></div>

            </div>

            <div *ngIf="isUrgent(notification.title)"
              class="absolute top-0 right-0 px-4 py-2 mt-2 ml-2 font-medium tracking-wider text-white bg-[var(--tertiary-color)] rounded-md poppins">
              URGENT!</div>
          </div>
        </ng-container>


        <!-- end -->
      </div>
      <!-- end of start -->
    </div>
  </div>
</div>