<div class="h-[90dvh] w-[90dvh] flex flex-col mx-auto my-auto bg-white rounded-lg p-2 shadow-lg relative">
    <!-- Close button -->
    <div class="w-full p-4 bg-white">
        <div class="title flex justify-between items-center text-left text-[var(--primary-color)] text-2xl font-semibold">
            <p class="font-bold font-poppins {{course.course.length > 10 ? 'line-clamp-1' : ''}}">{{course.course}}</p>
        </div>
        <button class="text-2xl border-none absolute top-2 right-2 cursor-pointer close-button bg-none bg-white z-[50]"
            (click)="close()">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-8 h-8" fill="none" viewBox="0 0 24 24"
                stroke="var(--secondary-color)" stroke-width="4">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
            </svg>
        </button>
    </div>
    <div class="overflow-y-auto h-full w-full">
        <div class="h-full w-full p-2 pb-4 space-y-6">
            <!-- Title and Close Button -->


            <!-- Content Section -->
            <div class="flex flex-col gap-6 contentwrap">
                <!-- Image Section -->
                <div class="w-full">
                    <img class="w-full h-[300px] object-cover shadow-md rounded-md"
                        [src]="course?.image ? getUrl(course.image) : 'https://img.freepik.com/free-vector/online-tutorials-concept_52683-37480.jpg'">
                </div>

                <!-- Creator, Lessons, and Language Info -->
                <div class="flex flex-wrap justify-between gap-6">
                    <div class="flex-1 space-y-4">
                        <!-- Information Card -->
                        <div class="p-4 space-y-2 bg-white rounded-md shadow-md">
                            <div class="flex items-center text-sm">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2 text-[var(--primary-color)]"
                                    fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M5.121 17.804A7.002 7.002 0 0112 5a7.002 7.002 0 016.879 12.804M12 15v6m0 0h4m-4 0H8" />
                                </svg>
                                <p class="font-medium">Creator: <span
                                        class="font-semibold text-[var(--tertiary-color)]">{{course.firstname + ' ' +
                                        course.lastname}}</span></p>
                            </div>
                            <div class="flex items-center text-sm">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2 text-[var(--primary-color)]"
                                    fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M8 7V3m8 4V3M5 11h14M7 16h10M7 20h10" />
                                </svg>
                                <p class="font-medium">Lessons: <span class="font-semibold">x
                                        {{course.lessoncount}}</span>
                                </p>
                            </div>
                            <div class="flex items-center text-sm">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2 text-[var(--primary-color)]"
                                    fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M3 7l6 6 4-4 8 8" />
                                </svg>
                                <p class="font-medium">Objectives: <span class="font-semibold">{{course.details}}
                                        {{course.objectives}}</span></p>
                            </div>
                        </div>

                        <!-- Enroll Button and Input -->
                        <div class="flex flex-col gap-3">
                            <input [(ngModel)]="courseCode"
                                class="mt-3 h-10 w-full p-2 rounded-md border border-gray-300 focus:ring-2 focus:ring-[var(--tertiary-color)] font-poppins"
                                placeholder="Course code :" type="text">

                            <button (click)="enroll()"
                                class="font-poppins bg-gradient-to-r from-[var(--secondary-color)] to-[var(--primary-color)] w-full h-12 text-white rounded-md hover:shadow-md transition-shadow duration-200">Enroll
                                Now</button>
                        </div>
                    </div>
                </div>

                <!-- Details Section -->
                <div class="space-y-4 detailswrap">
                    <div class="details font-poppins text-xl font-bold text-[var(--tertiary-color)]">
                        <h1>Details</h1>
                    </div>
                    <p #detailsContent class="detailscontent max-h-[100px] overflow-hidden text-gray-600"
                        [ngClass]="{ 'show-more': showFullContent }">{{course.details ? course.details : '[NONE]'}}</p>
                    <button *ngIf="showReadMoreButton" (click)="toggleReadMore()"
                        class="text-[var(--tertiary-color)] font-medium">{{ showFullContent ? 'Show less' : 'Read more'
                        }}</button>
                </div>

                <!-- Lessons Section -->
                <div class="space-y-4 lessonwrap">
                    <div class="lesson font-poppins text-xl font-bold text-[var(--tertiary-color)]">
                        <h1>Lessons</h1>
                    </div>
                    <div *ngFor="let lesson of lessons; let i = index" class="p-4 mb-4 bg-white rounded-md shadow-md">
                        <div *ngIf="lessons.length == 0" class="text-center text-gray-500">
                            Currently, this course has no lessons.
                        </div>
                        <div class="space-y-2 lessontitle">
                            <div class="thislesson text-lg text-[var(--primary-color)]">Lesson {{i+1}}: <span
                                    class="font-semibold">{{lesson.title}}</span></div>
                            <div class="text-sm text-gray-600 lessontext">
                                <p>{{lesson.details}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>